/*Global Style*/

* {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  background-image: url("https://i.ibb.co/WGBhzCk/6.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans Condensed", sans-serif;
  min-height: 84.5rem;
  padding-bottom: 20vh;
}

input {
  margin: 0;
}

/*Header Style*/

.header__container {
  text-align: center;
  padding: 2rem;
}

.header__imersao--logo {
  transform: scale(0.8);
  transition: all ease 0.3s;
  width: 40rem;
}

.header__imersao--logo:hover {
  opacity: 0.8;
  transform: scale(0.9);
}

/*Main Style*/

.main__title {
  color: #ff3333;
  font-size: 3.5rem;
  font-weight: bold;
  margin: 4rem 0;
  text-align: center;
}

.main__container {
  text-align: center;
}

.sort__button,
.play__button {
  background: #ff3333;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  transform: scale(0.9);
  transition: all ease 0.3s;
  width: 15%;
}

.sort__button:disabled,
.play__button:disabled {
  background: #fff;
  color: #ff3333;
  cursor: not-allowed;
}

.sort__button:hover,
.play__button:hover {
  background: #fff;
  color: #ff3333;
  transform: scale(1);
}

.sort__button:focus,
.play__button:focus {
  outline: none;
}

.sort__button:active,
.play__button:active {
  background: #ff3333;
  color: #fff;
  transform: translateY(0.3rem);
}

.main__subtitle {
  color: #fff;
  font-size: 2.8rem;
  margin: 1rem 0;
  text-align: center;
}

/*Cards style*/

#player__card,
#machine__card {
  align-items: flex-end;
  background-position-x: center;
  background-position-y: 5rem;
  background-repeat: no-repeat;
  background-size: 23.5rem 23.5rem;
  border-radius: 3.3rem;
  display: flex;
  height: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  overflow: auto;
  position: relative;
  width: 36rem;
}

.card__image {
  border: 0.1rem solid black;
  height: 10rem;
  margin: 1rem;
}

.card__image img {
  height: 80%;
  width: 80%;
}

.card__status {
  color: white;
  font-size: 1.5rem;
  height: 20rem;
  margin: 0 2rem;
  z-index: 2;
}

.card__status input {
  margin: 1.3rem 2rem;
}

.machine__attribute {
  font-size: 1.5rem;
  margin: 0rem 2rem;
}

.machine__attribute:first-child {
  margin-top: 1rem;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card__subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  left: 3.7rem;
  position: absolute;
  text-transform: uppercase;
  top: 3.2rem;
  z-index: 2;
}

#cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.display {
  background: rgba(0, 0, 0, 0.5);
  border-color: #fff;
  border-radius: 1rem;
  border-style: solid;
  padding: 1rem;
}

#card__machine p {
  margin: 1.3rem 1rem;
}

#main__form {
  margin: 2rem 0;
  text-align: center;
}

.result {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  text-align: center;
}
/*Footer Style*/

footer {
  display: flex;
  gap: 5rem;
  justify-content: center;
  padding: 2rem;
}

.footer__link {
  transform: scale(0.9);
  transition: all ease 0.3s;
}

.footer__link:hover {
  opacity: 0.8;
  transform: scale(1);
}

.disabled {
  display: none;
}
